body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    height: 45px;
}

.header h1 {
    margin-top: 10px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.form-box {
    font-size: 15px;
}

.row {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}

textarea {
    width: 230px;
}

.buttons {
    margin-left: 130px;
    margin-top: 15px;
}
